  .search {
    width: 500px;
    padding-top: 10px
  }

  /* Index Table */
  .table {
    /* White space in table */
    border-collapse: separate;
  }

  .table td:not(.actionButton) {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* Index With Cover */
  .index-img {
    display: block;
    width: 100%;
    max-height: 140px;
    object-fit: cover;
  }

  .index-img-empty {
    display: block;
    width: 100%;
    max-height: 140px;
    object-fit: fill;
  }

  .table thead tr {
    background: #2986f8;
    color: white;
  }

  .table tbody {
    border-top: 15px solid black;
    max-height: 100px;
  }

  .table tbody tr {
    /* background: #74b0fa;  */
    background: #DBE5F1;
    color: black;
  }

  .table tbody .spacer {
    margin-bottom: 10px;
    background: #DBE5F1;
  }

  .table tbody .spacer td {
    border: 0;
  }

  .table tbody td i {
    font-size: 15px;
    color: white !important;
  }

  tr .action button {
    margin-bottom: 10px;
    width: 44px;
    height: 34px;
  }

  tr .action button svg {
    margin-bottom: 10px;
    width: 44px;
    height: 34px;
  }

  /* Index Table END */

  form .btn-sub {
    margin-bottom: 5%;
  }


  /* Create Table */
  .img-preview {
    margin-bottom: 10px;
    max-height: 200px;
    max-width: 200px;
    height: auto;
    display: block;
  }

  /* Create END */

  /* Pagination */