html,
body {
  height: 100%;
}

body {
  /* min-height: 100vh; */

  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #f5f5f5;
}

.navbar {
  min-height: 50px;
  background: #74c0ff;
}

.navbar-brand,
.nav-link {
  color: black;
}

.navbar-brand:hover,
.nav-link:hover {
  color: rgb(78, 78, 78);
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  min-height: 50px;
  background: #74c0ff;
}

.footer-first {
  text-align: left;
}

.footer-last {

  text-align: right;
}

/* Link */
a {
  text-decoration: none;
}

/* unvisited link */
/* #my-navbar a:link {
  color: black;
} */

/* mouse over link */
#my-navbar a:hover,
#my-navbar a:focus {
  text-decoration: white;
}

/* Button Edit post cancel */
.footer-action {
  position: absolute;
  /* padding-bottom: 10px; */
  bottom: 10px;
  right: 10px;
}


.footer-button {
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-reply-right {
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.footer-submit-right {
  margin: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
}

#btn-action {
  background-color: #e7e7e7;
  color: black;
  border: 0;
  border-radius: 4px;
}

/* submit or edit something */
#btn-edit {
  background-color: #0B5ED7;
  color: white;
  border: 0;
  border-radius: 4px;
  height: 40px;
  margin-right: 10px;
}

/* cancel edit */
#btn-cancel {
  background-color: #e0e0e0;
  /* background-color: transparent; */
  color: #0B5ED7;
  border: 0;
  height: 40px;
  border-radius: 4px;
  font-weight: bolder;
}

#btn-cancel :hover {
  /* background-color: #e7e7e7; */
  background-color: red;
  color: #0B5ED7;
  border: 0;
  height: 40px;
  border-radius: 4px;
  transition: 0.7s;
  /* font-weight: bolder; */
}

#btn-reply {
  background-color: #0B5ED7;
  padding: 0 10px;
  margin-left: 10px;
  color: white;
  border: 0;
  border-radius: 4px;
  height: 40px;
}

.profile-preview {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.img-preview {
  margin-bottom: 10px;
  max-height: 200px;
  max-width: 200px;
  height: auto;
  display: block;
}

.img-video-preview {
  margin-bottom: 10px;
  max-height: 200px;
  max-width: 300px;
  height: auto;
  display: block;
}

.clear {
  clear: both;
}


/* Style Search Delete */
span.deleteicon {
  position: relative;
  display: inline-flex;
  align-items: center;
  /* width: 75%; */
}

span.deleteicon span {
  position: absolute;
  display: block;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(0, 0, 0);
  font: 14px monospace;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
}

span.deleteicon input {
  padding-right: 18px;
  box-sizing: border-box;
}


span.deleteIconLong {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 80%;
}

span.deleteIconLong span {
  position: absolute;
  display: block;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(0, 0, 0);
  font: 14px monospace;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
}

span.deleteIconLong input {
  padding-right: 18px;
  box-sizing: border-box;
}

/* End */


/* Select 2 */

.select2.select2-container {
  width: 100% !important;
  font-family: Roboto, Helvetica;
}

.select2.select2-container .select2-selection {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  margin-bottom: 15px;
  outline: none !important;
  transition: all .15s ease-in-out;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  color: #333;
  line-height: 32px;
  padding-right: 33px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
  background: #f8f8f8;
  border-left: 1px solid #ccc;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  height: 32px;
  width: 33px;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
  background: #f8f8f8;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}