body {
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #f5f5f5;
}

.navbar {
  min-height: 50px;
  background: #74c0ff;
}

.navbar-brand,
.nav-link {
  color: black;
}

.navbar-brand:hover,
.nav-link:hover {
  color: rgb(78, 78, 78);
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  min-height: 50px;
  background: #74c0ff;
}

.footer-first {
  text-align: left;
}

.footer-last {

  text-align: right;
}

/* Link */
a {
  text-decoration: none;
}

/* unvisited link */
#my-navbar a:link {
  color: black;
}


/* mouse over link */
#my-navbar a:hover,
#my-navbar a:focus {
  text-decoration: white;
}